body {
	font-size: .875rem;
}

#content {
    background-color: #f5f5dc;
}

table{
	background-color: white;
}


.header{
	color: rgba(0,0,0,0.79);
	font-family: helvetica;
	line-height: 120%;
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-left: 5px solid #ff9438;	
	max-width: 460px;
	font-size: 2.5vw;
}


/*
 * Utilities
 */
.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}


 
/*css tabella*/
dt {
	display: inline;
}

dd {
	display: inline-block;
}

.detail{
	column-span: 3;
}
.detail-icon {
	color: #ff9438;
}

.approve-icon{
	color: rgb(40, 167, 69);
}

.reject-icon{
	color: rgb(208, 43, 59);
}

dl{
	max-height: 120px;
	overflow-y: scroll;
}

th, .valuta{
	text-align: center;
	
}

#filter{
	position: relative;
	left: 70%;
	margin: 3px 0;
	width: 30%;
}

/*CSS Modal */
.modalbutton-annulla:hover {
	background-color: #007bff !important;
	color: #fff !important;
	border-color: #dc3545 !important;
}

.modalbutton-conferma:hover {
	background-color: #007bff !important;
	color: #fff !important;
	border-color: #1c7430 !important;
	/*border: 100px !important;*/
	border-left: 2px solid #1c7430 !important;
	border-right: 2px solid #1c7430 !important;
	border-top: 2px solid #1c7430 !important;
	border-bottom: 2px solid #1c7430 !important;
	/*border: 10px solid !important;*/
}
